docling

faiss-cpu

groq
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters

numpy

python-dotenv

rank-bm25

sentence-transformers
scikit-learn
scipy

streamlit

torch
transformers
tokenizers

ragas

huggingface_hub
datasets